@model PagingWithEntityFramework.Models.ErrorModel
@using PagingWithEntityFramework.Helpers

@{
    ViewBag.Title = "Errors list";
}

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-1"></div>
        <!-- do not forget to put this here for navigation -->
        @Html.HiddenFor(m => m.CurrentPage)
        
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Name) : @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ErrorLevel) : @Html.TextBoxFor(m => m.ErrorLevel, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.ErrorMessage) : @Html.TextBoxFor(m => m.ErrorMessage, new { @class = "form-control input-sm" })
            </div>

            <div class="form-group pull-right">
                <br />
                @Html.ActionLink("Show all", "Index", null, new { @class = "btn btn-warning" })                
                <button type="submit" class="btn btn-success">Search</button>                
            </div>
        </div>

        <div class="col-md-1"></div>
    </div><!-- end of row -->
}
<br />

@if (Model.Errors.Any())
{
    <table style="margin:auto;width:90%;" class="table table-striped table-condensed">
        <thead>
            <tr>
                <td width="100">Id</td>
                <td width="200">Date</td>
                <td width="200">Server name</td>
                <td width="150">Severity</td>
                <td width="500">Error Message</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var error in Model.Errors)
            {
                <tr>
                    <td>@error.Id</td>
                    <td>@error.CurrentDate</td>
                    <td>@error.ServerName</td>
                    <td>@error.ErrorLevel</td>
                    <td>@error.Stacktrace</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-warning" style="text-align:center;" role="alert">Sorry ! No content available for the request.</div>
        </div>
        <div class="col-md-2"></div>
    </div>
}

<!-- display the navigation bar here -->
<!-- you can safely put this here even if you have no result to display the navbar will display nothing -->
@Html.DrawNavBar(Model.CurrentPage, Model.TotalPages, Model.GetQueryParameters())
