@model PagingWithEntityFramework.Models.ErrorModel
@using PagingWithEntityFramework.Helpers

@{
    ViewBag.Title = "Erreurs";
}

<p>
    Page : @Model.CurrentPage / @Model.TotalPages
</p>

<table>
    <thead>
        <tr>
            <td width="100">Id</td>
            <td width="100">Numéro</td>
            <td width="100">Sévérité</td>
            <td width="200">Procédure</td>
            <td width="200">Message</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var error in Model.Errors)
        {
            <tr>
                <td>@error.Id</td>
                <td>@error.ErrorNumber</td>
                <td>@error.ErrorSeverity</td>
                <td>@error.ErrorProcedure</td>
                <td>@error.ErrorMessage</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.DrawNavBar(Model.CurrentPage, Model.TotalPages)
</p>
